table
{
	border-collapse: collapse;
	position: absolute;
	height: 70%;
	width: 95%;
}
td
{
	width: 3vw;
	height: 7vw;
}
.texttoRight
{
	text-align: left;
	font-size: 1vw;
}	
.texttoLeft
{
	text-align: right;
	font-size: 2vw;
}
	.texttoCenter
{
	font-size: 3vw;
	text-align: center;
	font-weight: bold;
}
	.responsive
{			
	width: 51%;
	height: auto;
	position: fixed;
	top: 80;
	left: 120;
}